body {
    margin: 0;
    background-color: #2a292e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 19dvh;
    width: 100dvw;
}

.spacer2 {
    height: 5dvh;
    width: 100dvw;
}

h1 {
    font-size: 4dvw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.search-container {
    width: 70dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input {
    width: 40dvw;
    height: 7dvh;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: #98625e;
    outline: none;
    text-align: center;
}

.results-container {
    width: 65dvw;
    min-height: 55dvh;
    display: flex;
    flex-direction: column;
}

/*.results-container a {
    font-size: 1.5rem;
    height: 4rem;
    color: #5de39a;
    text-decoration: none;
}*/

.header-container {
    justify-content: space-around;
    width: 65dvw;
    color: #98625e;
    font-style: italic;
    font-size: 1.2rem;
    display: none;
}

.result-holder {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: #5de39a;
    font-size: 1.5rem;
    text-decoration: none;
}

.result-holder:hover {
    background-color: rgba(248, 248, 248, 0.026);
    cursor: pointer;
}

#resNotFound {
    display: none;
    justify-content: center;
    width: 65dvw;
    color: #98625e;
    font-style: italic;
    font-size: 1.2rem;
}